.filter {
    margin-left: auto;
    margin-right: auto;
    max-width: 1020px;
    width: 100%;
    padding: 15px 20px;
    border: 1px solid $border-color;
    border-radius: 8px;
    margin-top: 30px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .buttons {
        width: 100%;
        justify-content: center;
    }

    .label {
        @include vfont(700);
        font-size: 1.3rem;
        display: block;
        margin-bottom: 5px;
        padding: 0;
    }

    @include breakpoint(0,768px){ 
        .buttons > * {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }

    @include breakpoint(0,480px){ 
        .buttons {
            margin-left: 0;
            margin-bottom: 0;

            > * {
                width: 100%;
                padding: 0;
                margin-bottom: 15px;
            }
        }
    }

    @include breakpoint(0,480px) {
        
    }
}