// --------------------------------------------------
// Sections
// --------------------------------------------------

.main-content {
    width: 100%;
    z-index: 1;
    overflow: hidden;
}

.breakout {
    > img {
        margin: 0 auto;
    }

    @include breakpoint(1740px,0){
        margin-left: -150px;
        margin-right: -150px;
    }
}

.skiptranslate {
    z-index: 999999;
}


// --------------------------------------------------
// Images
// --------------------------------------------------

svg {
    min-height: 0;
    min-width: 0;
}

img {
    display: block;
    margin: 0;
    max-width: 100%;
    width: auto;
}