// Caption styles
.caption-sr__inner,
.caption-closed > p {
    padding: 20px 15px;
    font-size: .875em;
    border-radius: 3px;
    background-color: white;
}

// Screen reader caption
.caption-sr {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    width: calc(100% - 20px);
    outline: none;
    background-color: transparent;

    &__inner {
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: rgba(black, .9);
        color: white;
        text-align: center;
        border-radius: 0;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        @include hide();
    }

    &.focus-visible {
        outline: none;
    }
}

// Closed captions
.caption-closed {
    outline: none;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 10;
    padding: 1em 0 0 1em;

    .avatar {
        border-radius: 50%;
        width: 3em;
        height: 3em;
        position: absolute;
        left: 1em;
        top: .65em;
        border: 3px solid $brand-primary;
    }

    > p {
        position: relative;
        display: block;
        padding-left: 5em;
        margin: 0 1em 1em 0;

        width: 30em;
        min-height: 4.2em;
    }

}