.comic-wrap {
    font-size: 1.6rem; // Base
}
.comic-strip {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    font-size: inherit;
    position: relative;
    margin: 0 auto;

    // RTL mode
    .translated-rtl & {
        direction: rtl;
        
        .comic-frame img,
        .comic-frame svg {
            transform: scaleX(-1);
        }

        .bubble--left { margin-left: auto; margin-right: 0;}
        .bubble--right { margin-left: 0; margin-right: auto; }

        .caption-closed {
            .avatar {
                left: auto;
                right: 1em;
            }
            > p {
                padding-left: 0;
                padding-right: 5em;
            }
        }
    }
    
    // Colourblind filters
    &.is-cb-protanopia .comic-frame picture img { filter: url(#protanopia); }
    &.is-cb-protanomaly .comic-frame picture img { filter: url(#protanomaly); }
    &.is-cb-deuteranopia .comic-frame picture img { filter: url(#deuteranopia); }
    &.is-cb-deuteranomaly .comic-frame picture img { filter: url(#deuteranomaly); }
    &.is-cb-tritanopia .comic-frame picture img { filter: url(#tritanopia); }
    &.is-cb-tritanomaly .comic-frame picture img { filter: url(#tritanomaly); }
    &.is-cb-achromatopsia .comic-frame picture img { filter: url(#achromatopsia); }
    &.is-cb-achromatomaly .comic-frame picture img { filter: url(#achromatomaly); }


    &:not(.is-vertical-mode) {
        // Eventually will need to improve this to not need magic numbers
        &[data-fontsize="110"] { max-width: 960px; }
        &[data-fontsize="120"] { max-width: 1040px; }
        &[data-fontsize="130"] { max-width: 1120px; }
        &[data-fontsize="140"] { max-width: 1200px; }
        &[data-fontsize="150"] { max-width: 1280px; }
        &[data-fontsize="160"] { max-width: 670px; }
        &[data-fontsize="170"] { max-width: 720px; }
        &[data-fontsize="180"] { max-width: 770px; }
        &[data-fontsize="190"] { max-width: 800px; }
        &[data-fontsize="200"] { max-width: 860px; }
        
        // Layout shifting depending on which fontsize
        &[data-fontsize="100"] {
            .comic-frame {
                @include breakpoint(0,1200px){
                    grid-column: span 2;
                }
                @include breakpoint(0,767px){
                    grid-column: span 4;
                }
            }
        }
        &[data-fontsize="110"],
        &[data-fontsize="120"],
        &[data-fontsize="130"],
        &[data-fontsize="140"],
        &[data-fontsize="150"] {
            .comic-frame {
                @include breakpoint(768px,0){
                    grid-column: span 2;
                }
                @include breakpoint(0,767px){
                    grid-column: span 4;
                }
            }
        }
        &[data-fontsize="160"],
        &[data-fontsize="170"],
        &[data-fontsize="180"],
        &[data-fontsize="190"],
        &[data-fontsize="200"] {
            .comic-frame {
                grid-column: span 4;
            }
        }
    }

    // Loading states
    &:not(.is-loading) {
        &.is-vertical-mode {
            .comic-frame {
                grid-column: span 4;
            }

            &[data-fontsize="100"] { max-width: 440px; }
            &[data-fontsize="110"] { max-width: 480px; }
            &[data-fontsize="120"] { max-width: 520px; }
            &[data-fontsize="130"] { max-width: 570px; }
            &[data-fontsize="140"] { max-width: 600px; }
            &[data-fontsize="150"] { max-width: 650px; }
            &[data-fontsize="160"] { max-width: 680px; }
            &[data-fontsize="170"] { max-width: 730px; }
            &[data-fontsize="180"] { max-width: 780px; }
            &[data-fontsize="190"] { max-width: 810px; }
            &[data-fontsize="200"] { max-width: 860px; }
        }

    }

    &.is-loading {
        white-space:nowrap;

        &:not(.is-vertical-mode) {
            max-width: 1650px;

            .comic-frame {
                max-width: 400px;
            }
        }
        &.is-vertical-mode {
            width: 400px;
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
        }
        &:before {
            left: 0;
            top: 0;
            z-index: 10;
            width: 100%;
            height: 100%;
            background-color: white;
            opacity: .95;
        }
        &:after {
            left: 50%;
            top: 50%;
            z-index: 11;
            margin-left: -30px;
            margin-top: -30px;
            display: block;
            width: 60px;
            height: 60px;
            background-color: $brand-primary;

            animation: sk-rotateplane 1s infinite ease-in-out;

            @media (prefers-reduced-motion) {
                content: 'Translating...';
                @include vfont(700);
                font-size: 2.5rem;
                background-color: transparent;
                animation: none;
                text-align: center;
                margin-left: -5em;
                margin-top: -1em;
                width: 10em;
                height: 2em;
                line-height: 2em;
                white-space: nowrap;
            }
            
            @keyframes sk-rotateplane {
                0% { 
                    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
                } 50% { 
                    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
                } 100% { 
                    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
                }
            }

        }
    }
}