// Buttons
// --------------------------------------------------

button {
	border: none;
	outline: none;
	
	 // Override safari default styles
	background-color: transparent;
	border-radius: 0;
	cursor: pointer;
}

.buttons {
	display: flex;
	flex-wrap: wrap;

	margin-bottom: -30px;
	margin-left: -30px;

	> *	{
		margin-bottom: 30px;
		padding-left: 30px;
	}
}
.btn {
	@include vfont(600);
	font-size: 1.3rem;
	position: relative;
	padding: 6px 12px;
	border: 1px solid rgba(black,.1);
	background-color: rgba(black,.05);
	border-radius: 3px;
}