.font-sizer {
    &__buttons {
        display: flex;
        flex-wrap: wrap;
    }
    
    .js-resize-down,
    .js-resize-up {
        @include vfont(500);
        font-size: 1.2em;
        padding: 0;
        width: 1.2em;
        height: 1.2em;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: .5em;

        &:focus {
            border: .1em solid $brand-primary;
        }
    }
    
    .js-resize-down:before { content: '-'; }
    .js-resize-up:before { content: '+'; }
}