.skip-to-link {
	position: fixed;
	top: 10px;
	left: 10px;
	overflow: hidden;
	width: 1px;
	height: 1px;
	margin: -1px;
	color: #fff;
	background: $text-color;
	opacity: 0;
	text-decoration: none;
	transition: all $timing $ease-std;
	z-index: 99;
	outline: none;
	white-space: nowrap;
	clip: rect(0 0 0 0);
	padding: 10px 16px;

	&:focus {
		overflow: visible;
		width: auto;
		height: auto;
		color: #fff;
		opacity: 1;
		clip: auto;
		white-space: normal;
		outline: none;
	}

	&:hover {
		background: darken($text-color, 10%);
	}
}
