.toggle {
    @include vfont(600);
    font-size: 1.3rem;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    
    .checkbox {
        width: 35px;
        height: 20px;
        position: relative;
        margin-right: 10px;
        
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 35px;
            height: 20px;
            background-color: #555555;
            border-radius: 20px;
            transition: background-color .1s ease-out;
        }
        &:after {
            content:'';
            position: absolute;
            left: 4px;
            top: 4px;
            width: 12px;
            height: 12px;
            display: block;
            border-radius: 8px;
            background-color: white;
            transition: transform .1s ease-out;
        }
    }
    
    input[type="checkbox"]:checked + .checkbox {
        &:before {
            background-color: $brand-primary;
        }
        &:after {
            transform: translateX(15px);
        }	
    }
    
    input[type="checkbox"]:disabled + .checkbox {
        cursor: default;
    
        &:before,
        &:after {
            opacity: .5;
        }
    }
}