.toggle {
    position: relative;
    cursor: pointer;
    
    .checkbox {
        display: block;
        width: 62px;
        height: 28px;
        position: relative;
        margin-right: 10px;
        
        &:before {
            content: 'off';
            text-transform: uppercase;
            @include vfont(800);
            font-size: 1.3rem;
            text-align: right;
            line-height: 24px;
            padding: 0 8px;
            position: absolute;
            left: 0;
            top: 0;
            width: 62px;
            height: 28px;
            border-radius: 28px;
            background-color: white;
            border: 2px solid $border-color;
        }
        &:after {
            content:'';
            position: absolute;
            left: 6px;
            top: 6px;
            width: 16px;
            height: 16px;
            display: block;
            border-radius: 18px;
            background-color: $border-color;
            transition: transform .1s ease-out;
            box-shadow: 0 0 0 0 white;
            transition: transform $timing $ease-std;
        }
    }

    input[type="checkbox"]:focus + .checkbox:before {
        border-color :$brand-primary;
        background-color: white;
        
    }
    
    input[type="checkbox"]:checked + .checkbox {
        &:before {
            content: 'on';
            text-align: left;
            color: $brand-primary;
        }
        &:after {
            transform: translateX(34px);
            background-color: $brand-primary;
        }	
    }
    
    input[type="checkbox"]:disabled + .checkbox {
        cursor: default;
    
        &:before,
        &:after {
            opacity: .5;
        }
    }
}