.toggle {
    position: relative;
    cursor: pointer;
    
    .checkbox {
        display: block;
        width: 50px;
        height: 28px;
        position: relative;
        margin-right: 10px;
        
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 50px;
            height: 28px;
            border-radius: 28px;
            background-color: #555555;
            border: 2px solid #555555;
        }
        &:after {
            content:'';
            position: absolute;
            left: 6px;
            top: 6px;
            width: 16px;
            height: 16px;
            display: block;
            border-radius: 18px;
            background-color: white;
            transition: transform .1s ease-out;
            box-shadow: 0 0 0 0 white;
            transition: box-shadow $timing $ease-std;
        }
    }

    input[type="checkbox"]:focus + .checkbox:after {
        box-shadow: 0 0 0 2px white;
        
    }
    
    input[type="checkbox"]:checked + .checkbox {
        &:before {
            background-color: $brand-primary;
        }
        &:after {
            transform: translateX(22px);
        }	
    }
    
    input[type="checkbox"]:disabled + .checkbox {
        cursor: default;
    
        &:before,
        &:after {
            opacity: .5;
        }
    }
}