@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
	font-weight:  $fw-regular;
	font-style:   normal;
	font-stretch: normal;
	text-rendering: optimizeLegibility;
}
@font-face {
	font-family: 'Montserrat Variable';
	src: url('../fonts/Montserrat-VF.woff2') format('woff2');
	font-weight:  $fw-regular;
	font-style:   normal;
	font-stretch: normal;
	text-rendering: optimizeLegibility;
}

/* Webfont: DigitalStripBB */
@font-face {
	font-family: 'DigitalStripBB';
	src: url('../fonts/DigitalStripBB.eot'); /* IE9 Compat Modes */
	src: url('../fonts/DigitalStripBB.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('../fonts/DigitalStripBB.woff') format('woff'), /* Modern Browsers */
			 url('../fonts/DigitalStripBB.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('../fonts/DigitalStripBB.svg#DigitalStripBB') format('svg'); /* Legacy iOS */
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

/* Webfont: DigitalStripBB-Italic */
@font-face {
	font-family: 'DigitalStripBB';
	src: url('../fonts/DigitalStripBB-Italic.eot'); /* IE9 Compat Modes */
	src: url('../fonts/DigitalStripBB-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('../fonts/DigitalStripBB-Italic.woff') format('woff'), /* Modern Browsers */
			 url('../fonts/DigitalStripBB-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('../fonts/DigitalStripBB-Italic.svg#DigitalStripBB-Italic') format('svg'); /* Legacy iOS */
	font-style: italic;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

/* Webfont: DigitalStripBB-BoldItalic */
@font-face {
	font-family: 'DigitalStripBB';
	src: url('../fonts/DigitalStripBB-BoldItalic.eot'); /* IE9 Compat Modes */
	src: url('../fonts/DigitalStripBB-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('../fonts/DigitalStripBB-BoldItalic.woff') format('woff'), /* Modern Browsers */
			 url('../fonts/DigitalStripBB-BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('../fonts/DigitalStripBB-BoldItalic.svg#DigitalStripBB-BoldItalic') format('svg'); /* Legacy iOS */
	font-style: italic;
	font-weight: bold;
	text-rendering: optimizeLegibility;
}


// Type Scale
// --------------------------------------------------

html {
	font-size: 62.5%;
	text-size-adjust: 100%;
}

html, body {
	text-rendering: geometricPrecision;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	@include vfont(500)
  	font-size: 1.6rem;
	line-height: 1.4;
	color: $text-color;
	
	@include breakpoint(0,768px){
    	font-size: 1.4rem;
	}
}

// General type
// --------------------------------------------------

p {
	margin: 30px 0;

	&:first-child { margin-top: 0; }
	&:last-child { margin-bottom: 0; }

	@include breakpoint(0,700px) {
		margin: 20px 0;
	}
}

h1,h2,h3,h4,h5,h6 {
	@include vfont(620);
	margin-top: 0;
	margin-bottom: 20px;
	color: $heading-color;

	@include breakpoint(0,767px) { margin-bottom: 15px; }
	@include breakpoint(0,479px) { margin-bottom: 10px; }
}

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

ul,
ol {
	padding-left: 1.15em;

	> li {
		margin-bottom: 10px;
	}
}

ol {
	list-style: disc;
}

strong {
	@include vfont(600);
}

code {
	font-family: $code-stack;
	font-weight: $fw-regular;
    unicode-bidi: embed;
    font-family: monospace;
	width: min-content;
	background-color: $grey-cool;
	color: black;
	border: 1px solid $border-color;
	padding: 3px 5px;
	margin: 0 5px;
}


// Links
// --------------------------------------------------

a {
	outline: 0;
	transition: color $timing linear;
	color: #c43c3e;
	&:visited { color: #c43c9b; }
	&:hover { text-decoration: none; }

	@include breakpoint(0,768px) {
		/* These are technically the same, but use both */
		overflow-wrap: break-word;
		word-wrap: break-word;
	  
		-ms-word-break: break-all;
		/* This is the dangerous one in WebKit, as it breaks things wherever */
		word-break: break-all;
		/* Instead use this non-standard one: */
		word-break: break-word;
	  
		/* Adds a hyphen where the word breaks, if supported (No Blink) */
		-ms-hyphens: auto;
		-moz-hyphens: auto;
		-webkit-hyphens: auto;
		hyphens: auto;
	  
	}
}