// Brand Colors
// --------------------------------------------------
$red:               #d03838;
$grey-light:        rgba(black,.03);
$color:             #cceeee;
$grey-cool:         #f7faff;

$brand-primary:		#3156e1;
$brand-secondary:   #000;
$heading-color:     rgba(black, .9);
$text-color:        rgba(black, .75);
$border-color:		rgba(black, .08);
$error:				$red;


// Font stack and weight
// --------------------------------------------------
$font-stack: "Montserrat", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$comic-stack: "DigitalStripBB", "Comic Sans MS", "Comic Sans", cursive;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 600;
$fw-semibold: 700;
$fw-bold: 900;


// Social colors
// --------------------------------------------------
$facebook:			#3b5999;
$twitter:			#44acee;
$instagram:			#253e53;
$google:			#dd4b39;
$linkedin:			#0077B5;


// Timing & Easing
// --------------------------------------------------
$timing:			.15s;
$ease-std:			ease-in-out;

// Container sizes
// --------------------------------------------------
$container-gutter: 30px;
$container-std:    1400px;
$container-narrow: 960px;